<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>About :: gitb — A command line tool for using Backlog&#39;s git comfortably</title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="&amp;emsp;gitb A command line tool for using Backlog&amp;rsquo;s git comfortably.
&amp;emsp;gitb command helps to use Backlog&amp;rsquo;s git comfortably. For example, can open PR, issue, branches, tags, etc in the browser with one action.
&amp;emsp;Also, gitb wraps all git commands, therefore can execute git-command using gitb like a gitb fetch, gitb pull, gitb push, and more&amp;hellip;
&amp;emsp;Suffix B has multiple meanings. Backlog, Browser, B-Dash."/>
<meta name="keywords" content=""/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="https://gitb.vvatanabe.com/about/" />


<link rel="stylesheet" href="https://gitb.vvatanabe.com/assets/style.css">

  <link rel="stylesheet" href="https://gitb.vvatanabe.com/assets/green.css">






<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://gitb.vvatanabe.com/img/apple-touch-icon-144-precomposed.png">

<link rel="shortcut icon" href="https://gitb.vvatanabe.com/img/favicon/green.png">



<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="About :: gitb — A command line tool for using Backlog&#39;s git comfortably" />
<meta name="twitter:description" content="&amp;emsp;gitb A command line tool for using Backlog&amp;rsquo;s git comfortably.
&amp;emsp;gitb command helps to use Backlog&amp;rsquo;s git comfortably. For example, can open PR, issue, branches, tags, etc in the browser with one action.
&amp;emsp;Also, gitb wraps all git commands, therefore can execute git-command using gitb like a gitb fetch, gitb pull, gitb push, and more&amp;hellip;
&amp;emsp;Suffix B has multiple meanings. Backlog, Browser, B-Dash." />
<meta name="twitter:site" content="https://gitb.vvatanabe.com/" />
<meta name="twitter:creator" content="" />
<meta name="twitter:image" content="">


<meta property="og:locale" content="en" />
<meta property="og:type" content="article" />
<meta property="og:title" content="About :: gitb — A command line tool for using Backlog&#39;s git comfortably">
<meta property="og:description" content="&amp;emsp;gitb A command line tool for using Backlog&amp;rsquo;s git comfortably.
&amp;emsp;gitb command helps to use Backlog&amp;rsquo;s git comfortably. For example, can open PR, issue, branches, tags, etc in the browser with one action.
&amp;emsp;Also, gitb wraps all git commands, therefore can execute git-command using gitb like a gitb fetch, gitb pull, gitb push, and more&amp;hellip;
&amp;emsp;Suffix B has multiple meanings. Backlog, Browser, B-Dash." />
<meta property="og:url" content="https://gitb.vvatanabe.com/about/" />
<meta property="og:site_name" content="About" />
<meta property="og:image" content="">
<meta property="og:image:width" content="2048">
<meta property="og:image:height" content="1024">













</head>
<body class="">


<div class="container full">

  <header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="/about">
  <div class="logo">
    gitb
  </div>
</a>

    </div>
    <div class="menu-trigger">menu</div>
  </div>
  
    <nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    
      
        
          <li><a href="/about">About</a></li>
        
      
        
          <li><a href="/install">Install</a></li>
        
      
        
          <li><a href="/usage">Usage</a></li>
        
      
        
          <li><a href="/ja/about">日本語</a></li>
        
      
    
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    
      
        <li><a href="/about">About</a></li>
      
    
      
        <li><a href="/install">Install</a></li>
      
    
      
        <li><a href="/usage">Usage</a></li>
      
    
      
        <li><a href="/ja/about">日本語</a></li>
      
    
  </ul>
</nav>

  
</header>


  <div class="content">
    
<div class="post">
  <h1 class="post-title">
    <a href="https://gitb.vvatanabe.com/about/">About</a></h1>
  <div class="post-meta">
      
    
  </div>

  

  

  <div class="post-content">
    <p>&emsp;<code>gitb</code> A command line tool for using Backlog&rsquo;s git comfortably.</p>

<p>&emsp;<code>gitb</code> command helps to use Backlog&rsquo;s git comfortably. For example, can open PR, issue, branches, tags, etc in the browser with one action.</p>

<p>&emsp;Also, <code>gitb</code> wraps all <code>git</code> commands, therefore can execute <code>git-command</code> using <code>gitb</code> like a <code>gitb fetch</code>, <code>gitb pull</code>,  <code>gitb push</code>, and more&hellip;</p>

<p>&emsp;Suffix B has multiple meanings. Backlog, Browser, B-Dash.</p>

  </div>
  
  <div class="pagination">
    <div class="pagination__title">
      <span
        class="pagination__title-h"></span>
      <hr />
    </div>
    <div class="pagination__buttons">
      
      
      <span class="button next">
        <a href="https://gitb.vvatanabe.com/install/">
          <span class="button__text">Install</span>
          <span class="button__icon">→</span>
        </a>
      </span>
      
    </div>
  </div>
  

  

</div>

  </div>

  
    <footer class="footer">
  <div class="footer__inner">
    
      <div class="copyright">
        <span>© 2019 Powered by <a href="http://gohugo.io">Hugo</a></span>
        <span>:: Theme made by <a href="https://twitter.com/panr">panr</a></span>
      </div>
    
  </div>
</footer>

<script src="https://gitb.vvatanabe.com/assets/main.js"></script>
<script src="https://gitb.vvatanabe.com/assets/prism.js"></script>





  
</div>

</body>
</html>
